/*Variable Declarations*/
:root {
    --navbarHeight:60px;
    --mobilenavbarHeight:60px;
}

:root, 
    :root.theme_dark{
    --background: #333333;
    --navbarBackground: #1f1f1f;
    --mainBackroundColor: #3d3d3d;
    --maintextcolor: #f7f7f7;
    --box1Color: #bf00ff; /* Electric Purple */
    --box2Color: #cc00cc; /* Deep Magenta */
    --box3Color: #df00ff; /* Psychedelic purple */
    --box4Color: #df00ff; /* Veronica */
    }
    :root.theme_pastel{
    --background: #aec6cf;
    --navbarBackground: #967bb6;
    --mainBackroundColor: #c8a2c8;
    --maintextcolor: #f7f7f7;
    --box1Color: #f7f7f7; 
    --box2Color: #f7f7f7; 
    --box3Color: #f7f7f7; 
    --box4Color: #f7f7f7;
    }
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px black;
}

main{
    background-color: var(--mainBackroundColor);
}

p{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--maintextcolor);
}

h2{
    color:white;
    text-align: center;
    padding: 15px;
}

h3{
    text-decoration: underline;
}

@media screen and (min-width: 800px) {
    .mobile_only{display:none};
}

.navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbarBackground);
    height: var(--navbarHeight);
    overflow: visible;
    position: relative;
}

.navbar_spacer{
    width: var(--navbarHeight);
    margin-left: 10px; /* Must be changed with .theme_toggle_container/whatever else goes on the right side */
}

.pfp{
    box-sizing: border-box;
    height: 60%;
}

.theme_toggle_container{
    display: flex;
    height: 100%;
    width: var(--navbarHeight);
    margin-right: 10px; /* must be changed with .navbar_spacer/whatever else on left side */
    justify-content: center;
    align-items: center;
}

.theme_button_img{
    height: 100%;
    border-radius: 10px;
}

.theme_button{
    height: 60%;
    width: 60%;
    border-radius: 15px;
    background-color: #333333;
    }

    .theme_button.theme_dark{
        display:none;
    }
    
    .theme_pastel .theme_button.theme_dark{
        display: block;
    }

    .theme_pastel .theme_button.theme_pastel{
        display: none;
    }

/* "Links" */
.links_flex_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.link_container{
    display:flex;
    width: 45px;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.links_image_properties{
    width: 40px;
    height: 40px;
    transition: .2s;
}

.links_image_properties:hover, .links_image_properties:active{
    width: 45px;
    height: 45px;
}
/* end links */

/* boxes */
.info_boxes{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box_content_container{
    padding:10px 10px 10px 30px;
}

.box_1{
    margin: 25px;
    border: 4px solid var(--box1Color);
    border-radius: 5px;
    width:400px;
    min-height:250px;
    color:var(--box1Color);
    font-weight: 620;
}

.box_2{
    margin: 25px;
    border: 4px solid var(--box2Color);
    border-radius: 5px;
    width:400px;
    min-height:250px;
    color:var(--box2Color);
    font-weight: 620;
}

.box_3{
    margin: 25px;
    border: 4px solid var(--box3Color);
    border-radius: 5px;
    width:400px;
    min-height:250px;
    color:var(--box3Color);
    font-weight: 620;
}

.box_4{
    margin: 25px;
    border: 4px solid var(--box4Color);
    border-radius: 5px;
    width:400px;
    min-height:250px;
    color:var(--box4Color);
    font-weight: 620;
}
/*END BOXES*/

.center{
    text-align: center;
}
.center2{
    justify-content: center;
}
.thunderbirdPageBackground{
    background-color: #434347;
    color:white;
}

.basic_large_text{
    font-size: large;
}

